<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="header">
      <ion-col>
        <div>
          <h1>Barter Day</h1>
        </div>
      </ion-col>
      <ion-col class="editcol">
        <div class="edit">
          <a >Edit</a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class= "item-add">
      <ion-col>
        <div>
          <p>Add your first item</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button color="light" [routerLink]="['/upload']">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>        
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            Items will appear when you add your first product
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            Items will appear when you add your first product
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            Items will appear when you add your first product
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            Items will appear when you add your first product
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button expand="block" shape="round">See Matches</ion-button>
      </ion-col>      
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
